<div class="col-sm-6 ct-add-money">

<h2>Add Money to Your Account Balance</h2>

      <table>
        <tr>
          <td>
            <h3>Choose a payment  below:</h3>
<p>
            Select how much money you want to add to your self serve leads account. Your lead orders will automatically be deducted from your total amount of funds available. The total amount of money you have in your account can be viewed in the top right corner of the website.  We accept, Visa, Mastercard, American express, PAYPAL.  Also, if you prefer you can call our office and place your order over the phone. Our office hours are Monday to Friday, 10:00 AM -EST 4:00 PM EST.
</p>

          </td>
        </tr>
        <tr>
          <td align="center">
            <br />

            <form action="" method="post" name="choose">
              <input type="hidden" name="step" value="2" />
              <select name="amount">
                <option value="20.00">$20.00</option>
                <option value="25.00">$25.00</option>
                <option value="50.00">$50.00</option>
                <option value="100.00">$100.00</option>
                <option value="250.00">$250.00</option>
                <option value="500.00">$500.00</option>
                <option value="1000.00">$1000.00</option>

              </select>
              <input type="submit" value="continue" />
            </form>

          </td>
        </tr>
        <tr>
          <td align="center"><br /><br />



            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" name="paypal" >
              <input type="hidden" name="cmd" value="_xclick">
              <input type="hidden" name="business" value="ronm@leadpower.net">
              <input type="hidden" name="item_name" value="Data Tab Purchase">
              <input type="hidden" name="item_number" value="<?=$orderid;?>"> <!-- this can be the order ID -->
              <input type="hidden" name="invoice" value="<?=$orderid;?>"> <!-- this can be the order ID -->
              <input type="hidden" name="amount" value="<?=$_REQUEST['amount'];?>">
              <input type="hidden" name="no_shipping" value="2">
              <input type="hidden" name="no_note" value="1">
              <input type="hidden" name="return" value="http://login.selfserveleads.com/repository/selfserveleads.com/paypal.php"> <!-- get from config -->
              <input type="hidden" name="notify_url" value="http://reseller.leadpower.com/repository/selfserveleads.com/paypal_complete.php"> <!-- get from config -->
              <input type="hidden" name="rm" value="2"> <!-- get from config -->
              <input type="hidden" name="custom" value="<?=$_SESSION['username'];?>" /><!-- use to send userid-->
              <input type="hidden" name="currency_code" value="USD">
              <input type="hidden" name="bn" value="IC_Sample">
              <input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but23.gif" name="submit" alt="">
              <img alt="" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>

          </td>
        </tr>
      </table>

<div class="clear"></div>
<div class="weAccept">
  <img src="images/PayPal_mark_37x23.gif" />
  <br />
  <img src="images/comodo_secure_seal_100x85_transp.png" />
</div>

</div>
