<div class="container-fluid">
  <div class="crt-user">
    User Name: {{ variables.name }}
  </div>
  <div class="ct-balance icon icon-white icon-lg mdi mdi-coin">
    {{ variables.balance }}
  </div>
</div>
